﻿@model IEnumerable<CVS.Data.Model.User>

@{
    ViewBag.Title = "GetUsers";
}
<h2>Загруженные поль-ли</h2>
@Html.ActionLink("Загрузить", "Upload")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @if (item.ParentId.HasValue)
                {
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                }
            </td>
        </tr>
    }

</table>
