﻿
@{
    ViewBag.Title = "Index";
}

<h2>Загрузить CVS</h2>
@Html.ActionLink("Загруженные данные", "GetUsers")

<div class="col-md-12">
    @using (Html.BeginForm("Upload", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="form-group">
        <label for="isFirstRowIsColumnName">Первая строка - имя колонки</label>
        <input type="checkbox" name="isFirstRowIsColumnName" checked="checked" id="isFirstRowIsColumnName">
        <br /><br />
        <label for="delimeter">Разделитель</label>
        <input type="text" name="delimeter" id="delimeter" value=";" placeholder=";">
        <br /><br />
        <label for="attachment">Выберите csv файл</label>
        <label class="btn btn-default btn-file">
            <input type="file" name="attachmentcsv" id="attachmentcsv" hidden>
        </label>
    </div>
        <button type="submit" class="btn btn-primary">Загрузить</button>
    }
</div>